<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/82911cf6-2002-4c78-a79e-b141c8f8ef85/resourceGroups/rg-chatapp-prod/providers/Microsoft.ContainerRegistry/registries/acrchatappprod</ResourceId>
    <ResourceName>acrchatappprod</ResourceName>
    <ResourceGroup>rg-chatapp-prod</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://acrchatappprod.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e5706bee-c3fb-e7be-641a-413c1a61d716</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>